@import '~antd/dist/antd.css';
/* general styles for the web-app */
*{
  padding: 0px;
  margin: 0px;
}

body{
  background: #D3D3D3;
  height: 100vh;
}

/*styles for the form component */
.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  height: 31px;
  color: rgba(255, 255, 255, 0.75);
  font-weight:600;
  font-size: 250%;
  font-family: sans-serif;

}


/* styles for the surroundings of the form */
.formWrapper{
  border: 2px solid black;
  padding: 40px 90px 60px 50px;
  background: white;
}

.content{
  display: flex;
  margin-top: 120px;
  justify-content: center;
}


/* styles of the title of the form */
.titleBar{
  text-align: center;
  margin-bottom: 60px;
}

.titleBar h3{
  font-size: 30px;
  color: rgb(34, 58, 109);
}
